.dashboard-container{
    margin-top: 1.5rem ;
}

.dashboard-container > .content-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 70rem;
    margin: 6rem auto;
}

.dashboard-container > .content-container > .search-container{
    width: 32%;
    background: #edf2ff;
}

.dashboard-container > .content-container > .result-container{
    width: 63%;
}


@media only screen and (max-width: 900px) {
    .dashboard-container > .content-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 105rem;
        margin: 4rem auto;
    }
    
    .dashboard-container > .content-container > .search-container{
        height: 30%;
        width: 100%;
        background: #edf2ff;
    }
    
    .dashboard-container > .content-container > .result-container{
        margin-top: 10rem;
        height: 65%;
        width: 100%;
    }
    
  }