.dashboard-container{
    margin-top: 1.5rem ;
}

.dashboard-container > .content-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 70rem;
    margin: 6rem auto;
    background: yellow;
}

.dashboard-container > .content-container > .search-container{
    width: 34%;
    background: red;
}

.dashboard-container > .content-container > .result-container{
    width: 61%;
    background: blue;
}


@media only screen and (max-width: 400px) {
    .dashboard-container > .content-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 70rem;
        margin: 4rem auto;
        background: yellow;
    }
    
    .dashboard-container > .content-container > .search-container{
        height: 30%;
        width: 100%;
        background: red;
    }
    
    .dashboard-container > .content-container > .result-container{
        margin-top: 4rem;
        height: 65%;
        width: 100%;
        background: blue;
    }
    
  }