.search-container {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container>.search-header>h2 {
    color: rgb(16, 32, 112);
    font-size: 2rem;
    margin: 0;
}

.search-container>.search-header>.email {
    width: 6%;
}

.search-container>.search-header>.email:hover {
    cursor: pointer;
}

/* input {
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.18rem solid #ced4da;
    font-size: 1.5rem;
} */

.search-container>input {
    margin-top: 2rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.18rem solid #ced4da;
    font-size: 1.5rem;
}

.search-container>button {
    width: 100%;
    padding: 1.15rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    /* font-weight: 600; */
}

.search-container>.btn-search {
    background: #4263eb;
    color: white;
    margin-top: 2.5rem;
}

.search-container>.btn-search:hover {
    background: rgb(59, 91, 218);
    cursor: pointer;
}

.search-container>.or-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.search-container>.or-container>.line {
    width: 42%;
    border-top: 0.18rem solid #868e96;
}

.search-container>.or-container>p {
    color: #868e96;
}

.search-container>.btn-current-location {
    background: #edf2ff;
    color: rgb(16, 32, 112);
    border: 0.1rem solid rgb(16, 32, 112);
    /* margin-top: 1rem; */
}

.search-container>.btn-current-location:hover {
    background: #d9e1f5;
    cursor: pointer;
}

.search-container>.btn-more-margin {
    margin-top: 1.5rem;
}

.title-modal {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    color: rgb(16, 32, 112);
    font-size: 2.3rem;
}

.content-modal {
    font-size: 1.5rem;
    margin: 0;
}

.input-modal {
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.18rem solid #ced4da;
    font-size: 1.5rem;
}

.padding-modal {
    padding: 0.5rem 1.5rem;
}

.more-vertical-space {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.more-vertical-input-space {
    margin-bottom: 1rem;
}

.btn-submit {
    padding: 0.9rem 2.7rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background: #4263eb;
    color: white;
    margin-top: 0.5rem;
}

.btn-submit:hover{
    background: rgb(59, 91, 218);
    cursor: pointer;
}

.btn-cancel {
    padding: 0.8rem 2.7rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background: #edf2ff;
    color: rgb(16, 32, 112);
    border: 0.1rem solid rgb(16, 32, 112);
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.btn-cancel:hover{
    background: #d9e1f5;
    cursor: pointer;
}